<!DOCTYPE html>
<html lang="en">

<head>

  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <div id="wrap">

    <div id="sidenav">
      <% include ./partials/_sidenav_user.ejs %>
    </div>

    <div id="main">

      <p> These are the links you have submitted </p>

      <table>
          <tr>
            <th> ShortURL </th>
            <th> Original URL </th>
            <th> Unique Visits </th>
          </tr>
          <% Object.keys(urls).forEach((key) => { %>


          <tr>
            <td>
              <%= key %>
            </td>
            <td>
              <a href = <%= urls[key]["original"] %>> <%= urls[key]["original"] %> </a>
            </td>
            <td>
              <%= urls[key]["uniques"] %>
            </td>
            <td>
              <form action=<%= `/urls/${key}` %>>
                <button type="submit"> Edit </button>
              </form>
            </td>
            <td>
              <form action=<%= `/urls/${key}/delete?_method=DELETE` %> method="POST">
                <button type="submit"> Delete </button>
              </form>
            </td>
          </tr>
        <% }); %>

      </table>

    </div>

  </div>

</body>
</html>