<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <div id="sidenav">
    <% include ./partials/_sidenav_user.ejs %>
  </div>

  <div id="main">

    <%= shortened %> : <%= original %>
    <form action=<%= `/urls/${shortened}/replace?_method=PUT` %> method="POST" style="margin:30px;">
      <label for="longURL">Update the URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

    <% if (failure) { %>
      <p class='warning'> <%=failure%> </p>
    <% } %>

    <h5>
      Created: <%= created %>

    <h3>
      Visitor information
    </h3>

    <ul>
      <% Object.keys(visitorData).forEach((visitor) => { %>
        <li>
          <%= `Unique ID ${visitor}` %> at <%= visitorData[visitor] %>
        </li>
      <% }); %>
    </ul>


  </div>


</body>
</html>