<!DOCTYPE html>
<html lang="en">

<head>

  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <div id="wrap">

    <div id="sidenav">
      <% include ./partials/_sidenav_user.ejs %>
    </div>

    <div id="main">

      <p> These are the links you have submitted </p>

      <ul>
          <% Object.keys(urls).forEach((key) => { %>
          <li>
            <%= key %> --> <a href = <%= urls[key]["original"] %>> <%= urls[key]["original"] %> </a>

            Unique visits: <%= urls[key]["uniques"] %>

            <a href=<%= `/urls/${key}` %> class="button"> Edit </a>

            <form action=<%= `/urls/${key}/delete?_method=DELETE` %> method="POST">
              <button type="submit"> Delete </button>
            </form>
          </li>
        <% }); %>

      </ul>

    </div>

  </div>

</body>
</html>