<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <ul>
      <% Object.keys(urls).forEach((key) => { %>
      <li>
        <%= key %> --> <a href = <%= urls[key] %>> <%= urls[key] %> </a>
        <a href=<%= `/urls/${key}` %> > Edit </a>
        <form action=<%= `/urls/${key}/delete` %> method="POST" style="float:inline">
          <button type="submit"> Delete </button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>